.nav-container {
    width: 100%; 
    position: relative;
}

.logged-in {
    position: absolute;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}


.links {
    margin: 1rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}

.links:hover {
    color: rgb(138, 154, 91);
}
.links:visited {
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-bar {
        justify-content: center;
    }
    
    #link-title {
        left: 50%;
        transform: translate(-50%);
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }

}

@media (max-width: 550px) {
    .links {
        font-size: .9rem;
        margin: .35rem;
    }
}